html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-layout {
  background-color: #ffffff;
}

.h1{
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  animation-name: text;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  background-color: rgba(255, 255,255, 0.8);
}

.mainContnet{
    margin-left:200px !important;
}

/* @media (max-width:575px){
  .normal{
    margin-left:150px !important;
  } 
} */