@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.profilepic {
  max-width: 200px;
  height: auto;
}

.condiv {
  flex: var(--condiv-flex);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: 'Permanent Marker', cursive;
  font-size: 23px;
  /* font-size: 2.5vw; */
}

.site_layout{
  background-color: #ffffff;
  position: sticky;
}
